<html ng-app ng-controller="AnagramCtrl">
    <head>
        <title>Anagram Unscrambler</title>
        <script type="text/javascript" src="resources/dictEn.js"></script>
        <script type="text/javascript" src="scripts/logic/anagram.js"></script>
        <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
        <script type="text/javascript" src="scripts/plumbing/anagramController.js"></script>
    </head>
    <body>
        <p/>
        <div class="container">
            <div class="jumbotron">
                <h1>Anagram Unscrambler</h1>
                <p/>
                Enter word to unscramble:
                <input class="form-control" type="text" ng-model="word" ng-change="unscramble()"/>
                <p/>
                Unscrambled words:
                <ul>
                    <li ng-repeat="unscrambledWord in unscrambledWords">
                        {{unscrambledWord}}
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
